<div class="home-btn d-flex justify-content-center mb-4">
  <%= link_to 'Add a new product', new_product_path, class: 'btn btn-primary' %>
</div>

<h1>Best product of the moment</h1>

<%= render './shared/card' %>
