.navbar-lewagon .navbar-collapse {
  width: 20px;
}

.navbar-brand {
  text-align: center;
  // justify-content: center;
  flex-grow: 1;
}

.menu {
  width:30px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-brand img {
  width: 240px;
  height: 100%;
}

.categories {
  justify-content: space-between;
  .category {
    list-style-type:none;
  }
}