.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

#nav-logo {
  justify-content: center;
  #logo-img {
    height: 75px;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
